@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Travis's Recipe Book</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Travis's Recipe Book</h2>
        <p>
            This is an application to practice using Entity Framework. 
            This uses Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
</div>